* {
  font-size: 1.2rem;
  text-align: center;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 50px;
}

h1, p {
  color: white;
}
.direction {
  display: flex;
  justify-content: space-between;
}
button {
  background-color: Transparent;
  outline: none;
  border: none;
  color: green;
}
button:hover {
  color: blue;
  cursor: pointer;
}
#btncolor1:hover, #btncolor2:hover {
  font-size: 1.8rem;
}

.quotebox {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 400px;
  height: 300px
}

.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center

}
